# Directorios 
/build
/main/certs

# Archivos de configuracion
/main/Kconfig.projbuild
/sdkconfig
/sdkconfig.old
/sdkconfig.ci

# Files
/**/sdk_config.h
main/include/conn_config.h
/main/esp_config.h

# Visual Studio Code
.vscode/*

# Archivo python 
mqtt_tcp_example_test.py
esp_http_client_test.py

# Certificado
howsmyssl_com_root_cert.pem
